@font-face {
  font-family: 'Inter Tight';
  src: url('../fonts/Inter_Tight/InterTight-Regular.woff2') format('woff2'),
      url('../fonts/Inter_Tight/InterTight-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('../fonts/Inter_Tight/InterTight-Medium.woff2') format('woff2'),
      url('../fonts/Inter_Tight/InterTight-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('../fonts/Inter_Tight/InterTight-SemiBold.woff2') format('woff2'),
      url('../fonts/Inter_Tight/InterTight-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial-Regular';
  src: url('../fonts/Arial/Arial-Regular.woff2') format('woff2'),
      url('../fonts/Arial/Arial-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter18pt-Regular.woff2') format('woff2'),
      url('../fonts/Inter/Inter18pt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

